<div class="ac-ulcc-intro">
	{{#getTranslation}}Compare Intro{{/getTranslation}}
</div>
<div class="row ac-ulcc-header">
	<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 heading">
		{{#getTranslation}}Selected Fare - Basic{{/getTranslation}}
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 heading tango_heading">
		{{#getTranslation}}Move up to Standard{{/getTranslation}}
	</div>
</div>
{{#texts}}
<div class="row ac-ulcc-content">
	<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs difference difference_header">
		<span class="ac-icon ac-navigation-arrow-right ac-1x close ulcc_icon"></span>{{#getTranslation}} {{title}} {{/getTranslation}}
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 difference ulcc_feature">
		<div class="visible-xs">
			<span class="ac-icon ac-1x {{#getIconWithParams}} {{compare1}} {{/getIconWithParams}}"></span>{{#getTranslation}} {{compare1}} {{/getTranslation}}
		</div>
		<div class="hidden-xs">
			<div class="ulcc_feature_icon">
				<span class="ac-icon ac-1x {{#getIconWithParams}} {{compare1}} {{/getIconWithParams}}"></span>
			</div>
			<div class="ulcc_feature_text">
				{{#getTranslation}} {{compare1}} {{/getTranslation}}
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 difference tango_feature">
		<div class="visible-xs">&nbsp;</div>
		<div class="ulcc_feature_icon">
			<span class="ac-icon ac-1x {{#getIconWithParams}} {{compare2}} {{/getIconWithParams}}"></span>
		</div>
		<div class="ulcc_feature_text">
			{{#getTranslation}} {{compare2}} {{/getTranslation}}
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 difference tango_feature">
		<div class="visible-xs">&nbsp;</div>
		<div class="ulcc_feature_icon">
			<span class="ac-icon ac-1x {{#getIconWithParams}} {{compare3}} {{/getIconWithParams}}"></span>
		</div>
		<div class="ulcc_feature_text">
			{{#getTranslation}} {{compare3}} {{/getTranslation}}
		</div>
	</div>
</div> <!-- Please add this section if a new feature is needed START-->
{{/texts}}