script(src="js/angular.min.js")
script(src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous")
script(src="js/ng-file-upload.min.js")
script(src="js/angular-toastr.js")
script(src="//code.angularjs.org/1.5.7/angular-animate.min.js")
script(src="js/script.js")
