head
	title= title
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet")
	link(rel="stylesheet" href="css/bootstrap.css")
	link(rel="stylesheet" href="css/font-awesome.css")
	link(rel="stylesheet" href="css/angular-toastr.css")
	link(rel="stylesheet" href="css/style.css")
	