div.navigation
	ul
		li
			a(href="/checked") Checked Baggage
		li
			a(href="/special-offers") Special Offers
		li
			a(href="/news") News
		li
			a(href="/contact-us") Contact Us
		li
			a(href="/special-offers") Faregrid
		li
			a(href="/purge") Purge