doctype html
html(ng-app="acToolsApp")
	include includes/head
	body
		include includes/spinner
		include includes/header
		include includes/menu
		h1= title
		form.form(ng-app="fileUpload" ng-controller="dynamicKeysController" ng-submit="retrievePreviewData()" name="form")
			div.row
				label.col-md-6(for="origin") Origin
					input#origin.form-control.input-lg(type="text" name="origin" ng-model="origin" placeholder="From")
				label.col-md-6(for="departure") Destination
					input#origin.form-control.input-lg(type="text" name="departure" ng-model="destination" placeholder="To")
			div.row
				label.col-md-3(for="edition") Edition
					select#edition.form-control.input-lg(name="edition" ng-model="edition")
						option(value="CA") CA
						option(value="US") US
				label.col-md-3(for="lang") Language
					select#edition.form-control.input-lg(name="language" ng-model="language")
						option(value="EN") EN
						option(value="FR") FR
				label.col-md-3(for="env") Environment
					select#env.form-control.input-lg(name="env" ng-model="env") 
						option(value="PLY") PLY
						option(value="UAT") UAT
						option(value="UAT2") UAT2
						option(value="PSSUAT") PSSUAT
						option(value="PROD") PROD
				label.col-md-3(for="version") Environment
					select#env.form-control.input-lg(name="version" ng-model="version") 
						option(value="V1") Column
						option(value="V2") Grid
			div.row
				button.btn.btn-danger() Search
			div.row
				iframe#dynamicKeysPreview(ng-if="iframe.show" ng-src="{{iframe.path}}" frameborder="0" scrolling="no")

		include includes/download
		include includes/footer
		