doctype html
html(ng-app="acToolsApp")
	include includes/head
	body
		include includes/spinner
		include includes/header
		include includes/menu
		h1= title
		form.form(ng-app="fileUpload" ng-controller="eupgradeRequestWindowsController" name="form")
			input#gdocId(type="hidden" name="gdocId" value="eupgradeRequestWindows")
			include includes/button-google-spreadsheets
		include includes/download
		include includes/footer
		