doctype html
html(ng-app="acToolsApp")
	include includes/head
	body
		include includes/spinner
		include includes/header
		include includes/menu
		h1= title
		form.form(ng-app="fileUpload" ng-controller="dynamicKeysController" name="form")
			input#dynamicKeys(type="hidden" name="dynamicKeys" value="fareHighlights")
			include includes/button-google-spreadsheets
		include includes/download
		include includes/footer
		