
doctype html
html(ng-app="acToolsApp")
	include includes/head
	body
		include includes/spinner
		include includes/header
		include includes/menu
		h1= title
		form.form(ng-app="fileUpload" ng-controller="i18nCreateController" name="form")
			div#button-google-spreadsheets
				div.form-inline
					select.form-control(ng-model="retrieve" ng-options="item.name for item in files" ng-change="retrieveData()")
					a#button-google-spreadsheets-link-ac.btn.btn-danger(href="" ng-click="retrieveData()") Generate
		include includes/download
		include includes/footer
		