
doctype html
html(ng-app="acToolsApp")
	include includes/head
	body
		include includes/spinner
		include includes/header
		include includes/menu
		h1= title
		form.form(ng-app="fileUpload" ng-controller="i18nCompareController" name="form")
			include includes/drop-zone.pug
		include includes/download
		include includes/footer
		