
doctype html
html(ng-app="acToolsApp")
	include includes/head
	body(ng-controller="i18nRetrieveTasksController")
		include includes/spinner
		include includes/header
		include includes/menu
		h1= title
		form.form(ng-app="fileUpload" ng-controller="i18nRetrieveController" name="form")
			div#button-google-spreadsheets
				a#button-google-spreadsheets-link-ac.btn.btn-danger(href="" ng-click="retrieveData('ply')") Retrieve from PLY
				a#button-google-spreadsheets-link-ac.btn.btn-danger(href="" ng-click="retrieveData('uat')") Retrieve from UAT
				a#button-google-spreadsheets-link-ac.btn.btn-danger(href="" ng-click="retrieveData('uat2')") Retrieve from UAT2
				a#button-google-spreadsheets-link-ac.btn.btn-danger(href="" ng-click="retrieveData('pssuat')") Retrieve from PSS UAT
				a#button-google-spreadsheets-link-ac.btn.btn-danger(href="" ng-click="retrieveData('prod')") Retrieve from PROD
		div#tasks
			h2 Tasks
			ul
				li(ng-repeat="task in tasks | orderBy:'-date'")
					span {{task.uid}}
					span {{task.date | date: "medium"}}
					span {{task.status}}
					span 
						a(ng-if="task.status === 'completed'" ng-href="/i18n-retrieve-download?fn={{task.uid}}.xlsx") Download
		include includes/footer
		