/* ASSISTANCE Hack for Footer*/
#footerSelectionClass .footer-nav-list.list-unstyled a[data-e2e-id="aco_footer_navigation3_1"]{margin-top:30px;display: block;font-size:18px;}

/* Hack for Travel Alerts */
#pageHeader { background-color:#D8292F;}
.header-alert-wrapper {margin: 0 auto !important;}
.alert-section.low.page-width {/*display:inline-block;*/ width: auto !important;}
.alert-section.low.page-width .container {width: auto !important;}
.header-alert-wrapper .alert-section.low.page-width:nth-child(1) {float:left;}
.header-alert-wrapper .alert-section.low.page-width:nth-child(2) {float:right;}

/*EveryMundo - Adding AirTrafix links to Special Offer section */
:lang(fr) #primaryNav .branded-primary-nav.primary-nav-section div.image-sub-nav-component a {
    padding: 0px;
}
.thumb-nail-component .caption .airTrafx {margin: -10px -17px -10px -15px;}
.airTrafx ul+p {margin-top:0px;}
.airTrafx .heading {display:inline-block; width:100%; padding: 5px 15px !important; background-color:#2A2A2A; margin-bottom: 10px !important; }
.airTrafx .heading a {color:#FFFFFF !important;font-weight: 600 !important;}
.airTrafx .subHeading {display:inline-block; width:100%; padding: 0px 15px !important; margin-bottom: 10px !important;}
.airTrafx .subHeading a { font-weight: 600 !important;}
.airTrafx ul {margin:0; padding: 0; list-style: none;}
.airTrafx ul li { padding:0 15px; font-weight: 300;}
.lineHt {padding-top:5px;}
.lineHt p {padding-left: 15px; font-size: 13px;}
.lineHt ul li {font-size: 13px; margin-bottom: 5px; margin-top: 5px;}

/* Travel Options - Plan section */
div.travel-options {margin: -10px auto -5px;}
div.travel-options p {margin: 5px auto; }
div.travel-options p.buffer {background-color: #F9F9F9 !important; margin-left: -16px; width: 122%; padding-top: 0px; height: 15px;}
div.travel-options img {margin-left: -16px; width:120px;}

/* HIDDING opinion labs from footer, not used anymore */
#rateThisPageSection {display:none;}


/*  Hidding Lowest Price guarantee  - Temporary fix */
.fare-section .best-buy-content{
	display: none;
}

/* Modal box for basic in the booking flow */
.ac-ulcc-header { padding: 0;  border-bottom: 1px solid #C8C8C8; margin-bottom: 5px;}
.ac-ulcc-header.row, .ac-ulcc-content.row {margin-left: 0px; margin-right: 0px; display: flex;}
.ac-ulcc-header .heading {padding: 0 0 10px;}
.ac-ulcc-content .difference {	padding: 5px 0;}
.fare_family_header {font-size: 1.286em; font-weight: 600; display: block;}
.ac-ulcc-header .ulcc_color, .ac-ulcc-content .ulcc_color {color: #D8292F;}
.ac-ulcc-header .standard_color, .ac-ulcc-content .standard_color {color: #00778F;}
.ac-ulcc-header .tango_heading {padding-left: 20px}
.ac-ulcc-content .difference_header {font-weight: 600;}
.ac-ulcc-content .ulcc_icon {margin-right: 5px;}
.ac-ulcc-content .ulcc_feature_icon {float: left; overflow: hidden; width: 5%;}
.ac-ulcc-content .ulcc_feature_text {float: left; margin-left: 2%; width: 93%;}
.ac-ulcc-content .ulcc_feature {border-right: 1px solid #C8C8C8;}
.ac-ulcc-content .ulcc_feature .visible-xs div{font-weight: bold; }
.ac-ulcc-content .tango_feature {padding-left: 20px; border-left: 1px solid #C8C8C8;margin-left: -1px;}
.ac-ulcc-intro {margin-bottom: 20px;}

.ace-dialog-body.ulcc-lightbox-body .price-comparison-row .col-lg-4,
.ace-dialog-body.ulcc-lightbox-body .buttons-row .col-lg-4{ display: none; }

.ulcc-lightbox-body .tango-fare-details { color: #00778F !important; }

.price-comparison-row .tango-fare-details,
.price-comparison-row .flex-fare-details{
	color: #B52327 !important;
}
.button-accept-restrictions[_ngcontent-c30], .button-upgrade-to-tango[_ngcontent-c30]{
	width: 65%;
}
.tango-fare-details, .ulcc-fare-details { padding-bottom: 20px !important; }

.button-accept-restrictions, .button-upgrade-to-tango { padding: 0 !important; }


/* start upsell link on farereview page */
.upsell-view-details a{
	text-decoration: underline;
}
/* end upsell link on farereview page */

/*Fix for MegaNav P red on hover for content under the thumbnail*/
.airTrafx  .heading:hover{background-color:#D8292F !important;}
.image-sub-nav-component .thumb-nail-component .caption a:hover p,
.image-sub-nav-component a:hover .thumb-nail-component .caption p,
.image-sub-nav-component .thumb-nail-component .caption p a:hover,
.image-sub-nav-component .thumb-nail-component .caption li a:hover {color:#D8292F;}


/*
CAROUSEL HERO BANNER
*/
.slider-wrapper {
	position: relative;
	width: 100%;
	min-height: 40px;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.slider-container {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0;
	transition: left 250ms linear;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.slider-container li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

.slider-bullets {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	margin: 5px;
	padding: 0;
	height: 20px;
}

.slider-bullets li {
	display: block;
	float: left;
	list-style-type: none;
	margin: 5px 7.5px 5px 7.5px;
	padding: 0;
	width: 15px;
	height: 15px;
	border-radius: 100px;
	background: #fff;
	cursor: pointer;
	box-shadow: 0 0 2px #000;
}

.slider-bullets li.selected {
	background: #c00;
}

.slider-container .ac-icon-external-link-icon{display: none; }


/* Hide Aeroplan note on Fare review on small mobile */
@media only screen and (max-width: 767px) {
	.bound-details-section .static-content, .bound-details-container .static-content{ display: none; }
	:lang(fr-FR).bound-details-section .static-content,
	:lang(en-FR).bound-details-section .static-content,
	:lang(fr-FR).bound-details-container .static-content,
	:lang(en-FR).bound-details-container .static-content{ display: block; }
}

@media (min-width: 1200px) {
.header-alert-wrapper {width:1200px !important;}
}

@media (max-width: 767px) {
/*	.header-alert-wrapper {width:100% !important; margin: 0 auto !important;}
	.header-alert-wrapper .alert-section.low.page-width:nth-child(1) {width:76% !important;}
	.header-alert-wrapper .alert-section.low.page-width:nth-child(1) .alert-text { text-align: right;}
	.header-alert-wrapper .alert-section.low.page-width:nth-child(2) {width:24% !important;}*/

/*COOKIES MESSAGE UK, FR*/
#cookie-disclosure-bar.bar-section .bar-content {padding-bottom: 30px;}
#cookie-disclosure-bar.bar-section .bar-text {margin-bottom:0;display: inline;}
#cookie-disclosure-bar.bar-section .bar-action {padding-top: 5px;display: inline;}

}
@media only screen and (max-width: 767px) {
  .fd-panel,
  .fd-panel[_ngcontent-c0] {
    display: block !important; }
  .fd-panel .panel-content,
  .fd-panel[_ngcontent-c0] .panel-content[_ngcontent-c0] {
    display: block !important; }
  .fd-panel .panel-content .fdapp-availability-container,
  .fd-panel[_ngcontent-c0] .panel-content[_ngcontent-c0] .fdapp-availability-container[_ngcontent-c0] {
    display: block !important; } }

/* TEMP CALEDNDAR OVERWRITE */
.calendar-datepicker.fligthDepartureDate.ui-datepicker-multi .btn-change-month .month-change-arrow, .calendar-datepicker.fligthReturnDate.ui-datepicker-multi .btn-change-month .month-change-arrow,
.calendar-datepicker.fligthDepartureDate.ui-datepicker-multi .btn-change-month .month-change-arrow.next-arrow, .calendar-datepicker.fligthReturnDate.ui-datepicker-multi .btn-change-month .month-change-arrow.next-arrow{ font-weight: bold; }

.calendar-datepicker.fligthDepartureDate.ui-datepicker-multi .btn-change-month .month-change-arrow:hover,
.calendar-datepicker.fligthReturnDate.ui-datepicker-multi .btn-change-month .month-change-arrow:hover{background-color: #B52327; border-color: #B52327;}

/* Hide text in seatmap from mobile */
span.mobile-seatmap {display: none;}
@media (max-width: 767px){
.mobile-seat {display: -webkit-inline-box;}
span.mobile-seatmap {display: block;}
}
/* finish seatmap */

/*Special Offers Header*/
#primaryNav .branded-primary-nav.primary-nav-section .mega-special-offer .lnk { width: 80px; font-size: 18px !important; }
/*END: Special Offers Header*/

/*Customer Support Header for Japan*/
[lang="ja-JP"] .primary-nav-container div.branded-primary-nav.primary-nav-section div.nav-items a.mega-assisstance span { width: 95px; }
/*END: Customer Support Header for Japan*/