* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
div,
li {
	font-family: 'Open Sans', sans-serif !important;
}

body {
	width: 960px;
	margin: 0 auto;
}

.filupp input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.form {
	background-color: #4A4F55;
	border-radius: 5px;
	padding: 20px 10px;
}

.form>h2 {
	color: #fff;
}

.form .drop-box {
	display: block;
	width: 60%;
	margin: 0 auto 20px;
	padding: 60px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	color: #4A4F55;
}

.form .drop-box div {
	margin-top: 20px;
	font-size: 24px;
	font-weight: 600;
}

.form .drop-box-small {
	padding: 10px 60px;
}

.form .drop-box i {
	display: block;
	font-size: 120px;
	margin-bottom: 20px;
}

.form textarea {
	width: 100%;
	height: 400px;
}

.form label {
	color: #fff;
}

.drop-box {
	border: 3px solid #fff;
	padding: 20px;
}

.drop-box.dragover {
	border: 3px dashed #D8292F;
}

.form button {
	display: block;
	width: 40%;
	margin: 0 auto;
}

.navigation {
	position: fixed;
	width: 0;
	top: 0;
	bottom: 0;
	border-right: 1px solid #fff;
	background-color: #4A4F55;
	overflow-x: hidden;
	overflow-y: scroll;
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigation ul li {
	margin: 0;
	padding: 20px;
	border-bottom: 1px solid #fff;
}

.navigation ul li a {
	color: #fff;
}

.news {
	overflow: hidden;
	padding: 0 0 10px 0;
}

.news div {
	float: left;
}

.news div:first-child {
	width: 205px;
}

.news div:first-child:after {
	content: " - ";
	float: right;
	margin: 0 20px;
}

.spinner {
	transition: 0.5 all ease;
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1000;
}

.spinner .loader {
	background-color: #fff;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	margin: 0 auto;
	padding: 20px 20px 65px 20px;
	border-radius: 3px;
}

.spinner .loader img {
	width: 100%;
}

.spinner .steps {
	position: absolute;
	top: 28%;
	color: #fff;
	left: 50%;
	text-align: center;
	width: 30%;
	margin-left: -15%;
}

.preloader {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.preloader>div {
	background-color: #433f3b;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin-right: 10px;
	display: inline-block;
	-webkit-animation: stretchdelay 0.7s infinite ease-in-out;
	animation: stretchdelay 0.7s infinite ease-in-out;
}

.preloader>div:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: #c00;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	display: inline-block;
	-webkit-animation: fade 0.7s infinite ease-in-out;
	animation: fade 0.7s infinite ease-in-out;
}

.preloader .circ2,
.preloader .circ2:after {
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}

.preloader .circ3,
.preloader .circ3:after {
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}

.preloader .circ4,
.preloader .circ4:after {
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}

.preloader .circ5,
.preloader .circ5:after {
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}

#button-google-spreadsheets a {
	margin-right: 20px;
}

@keyframes stretchdelay {

	0%,
	40%,
	100% {
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
	}

	20% {
		transform: translateY(-20px);
		-webkit-transform: translateY(-20px);
	}
}

@keyframes fade {

	0%,
	40%,
	100% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}
}

.indexNav i {
	font-size: 1em;
}

f .indexNav a {
	font-size: 1.5em;
	color: #fff;
	margin: 10px 0;
	transition: all 0.3s;
	text-shadow: 1px 0 #000;
}

.indexNav a:hover {
	text-decoration: none;
}

.formBlock {
	width: 60%;
	margin: 0 auto;
}

.formBlock input[type="text"] {
	margin-bottom: 10px;
}

.formUsers {
	background-color: #fff;
	border-radius: 5px;
	margin: 0 auto 20px;
	padding: 20px;
}

.lang {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 2rem;
}

.lang .checkbox {
	margin-top: 6px;
}

.checkbox {
	position: relative;
	float: left;
	margin: 3px 10px 0 0;
	width: 15px;
	height: 15px;
	border: 1px solid #4A4F55;
	background: #fff;
}

.radio {
	position: relative;
	float: left;
	margin: 3px 10px 0 0;
	width: 15px;
	height: 15px;
	border: 1px solid #4A4F55;
	border-radius: 50%;
	background: #fff;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;
}

:checked+.checkbox:before,
:checked+.radio:before {
	content: "";
	position: absolute;
	top: 20%;
	left: 15%;
	width: 80%;
	height: 40%;
	border: 3px solid #4A4F55;
	border-top: 0;
	border-right: 0;
	-webkit-transform: rotate(-45deg);
}

.toggle-select a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 20px;
	padding: 4px 0 0;
	border-radius: 30px;
	background-color: #B52327;
	color: #fff;
	text-align: center;
	font-weight: 200;
	font-size: 1.6rem;
}

.toggle-select a i {
	margin: 0;
}

#download-block {
	display: none;
	width: 60%;
	margin: 20px auto;
}

.btn-primary {
	border-radius: 2px;
	margin-bottom: 20px;
	border: 0px solid transparent;
	background-color: #4A4F55;
	border-bottom: 6px solid #000;
	padding: 20px;
	transition: all 0.3s;
	color: #fff;
	font-weight: bold;
	width: 100%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	border-bottom: 6px solid #aa2125 !important;
	background-color: #D8292F !important;
}

.top-buffer {
	margin-top: 40px;
}

#tasks ul {
	display: table;
	width: 100%;
}

#tasks li {
	display: table-row;
}

#tasks li span {
	display: table-cell;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

#dynamicKeysPreview {
	padding: 20px;
	width: 100%;
}

#button-google-spreadsheets-link-ac { margin-left: 20px;}