<style>

	.ac-dialog #ulcc-table {
		display: table;
		width: 100%;
		position: relative;
		top: -70px;
	}

	.ac-dialog #ulcc-table .ac-icon.ac-icon-confirmation2 {
		font-size: 1.25em;
	}

	.ac-dialog #ulcc-table #ulcc-table-header {
		display: table-header-group;
		color: #fff;
		font-size: 12px;
	}

	@media (min-width: 768px) {
		.ac-dialog #ulcc-table #ulcc-table-header {
			font-size: 14px;
		}
	}

	.ac-dialog #ulcc-table #ulcc-table-header .ulcc-header-cell {
		display: table-cell;
		padding: 15px 10px;
		font-size: 12px;
		width: 50%;
	}

	@media (min-width: 768px) {
		.ac-dialog #ulcc-table #ulcc-table-header .ulcc-header-cell {
			padding-left: 20px;
		}
	}

	.ac-dialog #ulcc-table #ulcc-table-header .ulcc-header-cell:first-child {
		background-color: #d8292f;
	}

	.ac-dialog #ulcc-table #ulcc-table-header .ulcc-header-cell:nth-child(2) {
		background-color: #9f1318;
	}

	.ac-dialog #ulcc-table #ulcc-table-header .ulcc-header-cell .fare_family_header {
		font-weight: bold;
	}

	@media (min-width: 768px) {
		.ac-dialog #ulcc-table #ulcc-table-header .ulcc-header-cell .fare_family_header {
			font-size: 18px;
		}
	}

	.ac-dialog #ulcc-table #ulcc-table-header .ulcc-header-cell .fare_family_subheader {
		font-weight: 300;
	}

	@media (min-width: 768px) {
		.ac-dialog #ulcc-table #ulcc-table-header .ulcc-header-cell .fare_family_subheader {
			font-size: 14px;
			line-height: normal;
		}
	}

	.ac-dialog #ulcc-table #ulcc-table-body {
		display: table-row-group;
		background-color: #f9f9f9;
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row {
		display: table-row;
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row:nth-child(n+4) {
		display: none;
	}

	@media (min-width: 768px) {
		.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row:nth-child(n+4) {
			display: table-row;
		}
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row:last-child .ulcc-body-cell {
		border-bottom: solid 1px #e6e6e6;
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row:nth-child(3) .ulcc-body-cell {
		border-bottom: solid 1px #e6e6e6;
	}

	@media (min-width: 768px) {
		.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row:nth-child(3) .ulcc-body-cell {
			border-bottom: none;
		}
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell {
		display: table-cell;
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell:first-child {
		border-right: solid 1px #e6e6e6;
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell .ulcc-cell-content {
		display: flex;
		padding: 10px 0 10px 10px;
	}

	@media (min-width: 768px) {
		.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell .ulcc-cell-content {
			padding-left: 20px;
		}
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell .ulcc-cell-content>.ac-icon {
		width: 10px;
	}

	@media (min-width: 768px) {
		.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell .ulcc-cell-content>.ac-icon {
			width: 20px;
		}
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell .ulcc-cell-content .standard_color {
		color: #108c0c;
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell .ulcc-cell-content .icon-space {
		padding-left: 10px;
	}

	@media (min-width: 768px) {
		.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell .ulcc-cell-content .icon-space {
			padding-left: 20px;
		}
	}

	.ac-dialog #ulcc-table #ulcc-table-body .ulcc-table-row .ulcc-body-cell .ulcc-cell-content .ulcc-toggle-text {
		color: #d8292f;
	}
</style>
{{#hasNote}}
<style>
	@media (min-width: 768px) {
		#ulccLightBoxBody {
			position: relative;
			padding-bottom: 50px;
		}

		.ac-ulcc-footer-note {
			position: absolute;
			bottom: -40px;
		}
	}
	@media (max-width: 767px) {
		.ac-ulcc-footer-note{
			position: absolute;
    		bottom: 10px;
		}
	}
</style>
{{/hasNote}}
<div id="ulcc-table">
	<div id="ulcc-table-header">
		<div class="ulcc-header-cell">
			<div class="fare_family_header">{{{getTranslation "Economy Basic"}}}</div>
			<div class="fare_family_subheader">{{{getTranslation "Lowest price - fewer options"}}}</div>
		</div>
		<div class="ulcc-header-cell">
			<div class="fare_family_header">{{{getTranslation "Economy Standard"}}}</div>
			<div class="fare_family_subheader">{{{getTranslation "Great Price - more flexibility"}}}</div>
		</div>
	</div>
	<div id="ulcc-table-body">
		{{#each texts}}
		<div class="ulcc-table-row">
			<div class="ulcc-body-cell">
				<div class="ulcc-cell-content">
					<div class="ac-icon ac-1x {{getIconWithParams compare1}}"></div>
					<div class="icon-space">{{{getTranslation compare1}}}</div>
				</div>
			</div>
			<div class="ulcc-body-cell">
				<div class="ulcc-cell-content">
					<div class="ac-icon ac-1x {{getIconWithParams compare2}}"></div>
					<div class="icon-space">{{{getTranslation compare2}}}</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>
{{{getNote}}}
