<div class="ac-ulcc-intro" style="">
	{{{getTranslation "Restrictions - Basic"}}}
</div>
<div class="row ac-ulcc-header">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 heading">
		{{{getTranslation "Selected Fare - Basic - Line Break"}}}
	</div>
</div>
{{#each texts}}
<div class="row ac-ulcc-content">
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 difference difference_header">
		<span class="ac-icon ac-navigation-arrow-right ac-1x close ulcc_icon"></span>
		{{{getTranslation title}}}
	</div>
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 difference ulcc_feature">
		<span class="ac-icon ac-1x {{getIconWithParams compare1}}"></span>
		{{{getTranslation compare1}}}
	</div>
</div>
{{/each}}
{{{getNote}}}