<style>
	ulcc-lightbox .dialog-content {
		max-width: 670px !important;
	}

	ulcc-lightbox .ulcc-fare-details,
	ulcc-lightbox .tango-fare-details,
	ulcc-lightbox .tango-fare-button,
	ulcc-lightbox .ulcc-fare-button {
		width: 50%;
	}
</style>
{{#hasNote}}
<style>
	@media (min-width: 768px) {
		#ulccLightBoxBody {
			position: relative;
			padding-bottom: 50px;
		}

		.ac-ulcc-footer-note {
			position: absolute;
			bottom: 10px;
		}
	}
</style>
{{/hasNote}}
<div class="ac-ulcc-intro">
	{{{getTranslation "Compare Intro"}}}
</div>
<div class="row ac-ulcc-header">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 heading">
		{{{getTranslation "Selected Fare - Basic"}}}
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 heading tango_heading">
		{{{getTranslation "Move up to Standard"}}}
	</div>
</div>
{{#each texts}}
<div class="row ac-ulcc-content">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 difference ulcc_feature">
		<div class="ulcc_feature_icon">
			<span class="ac-icon ac-1x {{getIconWithParams compare1}}"></span>
		</div>
		<div class="ulcc_feature_text">
			{{{getTranslation compare1}}}
		</div>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 difference tango_feature">
		<div class="ulcc_feature_icon">
			<span class="ac-icon ac-1x {{getIconWithParams compare2}}"></span>
		</div>
		<div class="ulcc_feature_text">
			{{{getTranslation compare2}}}
		</div>
	</div>
</div>
{{/each}}
{{{getNote}}}