{{#hasNote}}
<style>
	@media (min-width: 768px) {
		#ulccLightBoxBody {
			position: relative;
			padding-bottom: 40px;
		}

		.ac-ulcc-footer-note {
			position: absolute;
			bottom: 10px;
		}
	}
</style>
{{/hasNote}}
<div class="ac-ulcc-intro">
	{{{getTranslation "Compare Intro"}}}
</div>
<div class="row ac-ulcc-header">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 heading">
		{{{getTranslation "Selected Fare - Basic"}}}
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 heading tango_heading">
		{{{getTranslation "Move up to Standard"}}}
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 heading tango_heading">
		{{{getTranslation "Move up to Flex"}}}
	</div>
</div>
{{#each texts}}
<div class="row ac-ulcc-content">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 difference ulcc_feature">
		<div class="ulcc_feature_icon">
			<span class="ac-icon ac-1x {{getIconWithParams compare1}}"></span>
		</div>
		<div class="ulcc_feature_text">
			{{{getTranslation compare1}}}
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 difference tango_feature">
		<div class="ulcc_feature_icon">
			<span class="ac-icon ac-1x {{getIconWithParams compare2}}"></span>
		</div>
		<div class="ulcc_feature_text">
			{{{getTranslation compare2}}}
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 difference tango_feature">
		<div class="ulcc_feature_icon">
			<span class="ac-icon ac-1x {{getIconWithParams compare3}}"></span>
		</div>
		<div class="ulcc_feature_text">
			{{{getTranslation compare3}}}
		</div>
	</div>
</div>
{{/each}}
{{{getNote}}}