<p class="text-semi-bold">{{{getTranslation "Highlights"}}}:</p>
<ul class="list-unstyled">
	{{#each texts}}
		{{#each content}}
		<li class="row">
			<span class="col-md-2 ac-icon ac-2x {{getIcon}}"></span>
			<span class="col-md-10">
				{{{getText}}}
			</span>
		</li>
		{{/each}}
	{{/each}}
</ul>